@font-face {
    font-family: Anek;
    src: url(fonts/AnekDevanagari-VariableFont_wdth\,wght.ttf);
  }
.content{
    display: flex;
    align-items: left;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    flex-direction: column;
}
.content h1{
    font-weight: 700;
    margin: 0;
}
.content h2{
    font-weight: 500;
    margin: 0;
}
.content p{
    width: 80%;
    font-weight: 200;
}
.connect{
  display: flex;
  flex-direction: row;
}
.content button{
    width: 60px;
    padding: 15px 15px;
    text-transform: capitalize;
    font-size: 15px;
    border: none;
    border-radius: 60px;
    margin: 2%;
    cursor: pointer;
}
button a{
    text-decoration: none;
    font-size: 1.5em;
}
.portfolioLink{
  cursor: pointer;
}

@media (min-width: 950px) {
    .content {
      width: 40%;
      margin-left: 10%;
    }
  }