.portfolio{
    width: 100%;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#portfolioTop{
    margin:auto;
    text-align: center;
    margin-top: 55px;
}
.underlinePortfolio{
    width: 80%;
    margin: auto;
    height: 3px;
    margin-bottom: 25px;
}
.projDesc{
    padding: 2%;
}
.skillsUsed{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.skill{
    margin: 2%;
}
.skillIcon{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
}
#projVideo1, #projVideo4{
    margin: auto;
    width: 80%;
}
#projImg3{
    background: url(images/LaravelProjSSCars.png) no-repeat 50% 50%;
    background-size: cover;
    width: 20em;
    height: 15em;
    margin: auto;
}
#realestate, #milehighyoga{
    width: 100%;
    height: 100%;
}
.proj1, .proj2, .proj3, .proj4{
    text-align: center;
    margin: auto;
    margin-bottom: 7%;
}
@media (min-width: 600px) {
    #projVideo1, #projVideo4, #projImg3{
        width: 50%;
    }
  }